<div class="background-image-container">
  <div class="overlay"></div>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">
        This is a simple hero unit, a simple jumbotron-style component for
        calling extra attention to featured content or information.
      </p>
      <hr class="my-4" />
      <p>
        It uses utility classes for typography and spacing to space content out
        within the larger container.
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
      <!-- <div class="d-flex flex-column align-items-center">
        <h1 class="display-5">FNU Open Educational Resource Repository</h1>
        <p class="lead text-center">
          FNUOER is a digital library of open educational resources. Explore,
          create, and collaborate with educators at FNU to improve your
          curriculum.
        </p>
      </div> -->
    </div>
  </div>
  <picture class="background-image">
    <img
      alt=""
      [src]="'assets/custom/images/library.jpeg'"
    /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits"
    >Photo by
    <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small
  >
</div>
