<div class="background-image-container">
  <div class="overlay"></div>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div>
          <h1>FNU Open Educational Resources Repository</h1>
          <p class="pt-4 pb lead text-center">
            <em>FNUOER</em> is a digital repository of the Fiji National
            University (FNU) to facilitate the acquisition, creation,
            preservation, and dissemination of open educational resources (OER).
          </p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <img
      alt=""
      [src]="'assets/custom/images/FU2r4HmaAAEIdfi.jpeg'"
    /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo: CC BY</small>
</div>
