<ds-themed-home-news></ds-themed-home-news>
<div class="container">
  <ng-container *ngIf="site$ | async as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <ds-search-form
    [inPlaceSearch]="false"
    [searchPlaceholder]="'home.search-form.placeholder' | translate"
  ></ds-search-form>

  <!-- TODO: Refactor into own `OerToolkitComponent` -->
  <div class="oer-toolkit">
    <div class="title-block">
      <h3 class="title">OER Toolkit</h3>
      <hr />
      <p>
        OER are analogous to sunlight – one user’s usage of the resource does
        not decrease the benefit of the resource to other users. They provide
        equal access to educational materials at no cost to all. If you are
        interested in OER and would like additional help or information, explore
        the topics in the OER Toolkit .
      </p>
    </div>
    <div class="oer-toolkit-list">
      <a href="https://tlp-lpa.ca/oer-toolkit/about">
        <img
          height="120px"
          src="https://libapps-ca.s3.amazonaws.com/customers/4393/images/aboutIcon.png"
          alt=""
          srcset=""
        />
        <h5>About OER</h5>
        <p class="leading">Learn about the what, why, and how of OER.</p>
      </a>
      <a href="https://tlp-lpa.ca/oer-toolkit/teaching">
        <img
          height="120px"
          src="https://libapps-ca.s3.amazonaws.com/customers/4393/images/teachingIcon.png"
          alt=""
          srcset=""
        />
        <h5>Teaching</h5>
        <p class="leading">Learn about the what, why, and how of OER.</p>
      </a>
      <a href="https://tlp-lpa.ca/oer-toolkit/finding-curating">
        <img
          height="120px"
          src="https://libapps-ca.s3.amazonaws.com/customers/4393/images/curating-Icon.png"
          alt=""
          srcset=""
        />
        <h5>Curating</h5>
        <p class="leading">Learn about the what, why, and how of OER.</p>
      </a>
      <a href="https://tlp-lpa.ca/oer-toolkit/creating">
        <img
          height="120px"
          src="https://libapps-ca.s3.amazonaws.com/customers/4393/images/creatingIcon.png"
          alt=""
          srcset=""
        />
        <h5>Creating</h5>
        <p class="leading">Learn about the what, why, and how of OER.</p>
      </a>
      <a href="https://tlp-lpa.ca/oer-toolkit/licensing">
        <img
          height="120px"
          src="https://libapps-ca.s3.amazonaws.com/customers/4393/images/licensingIcon.png"
          alt=""
          srcset=""
        />
        <h5>Licensing</h5>
        <p class="leading">Learn about the what, why, and how of OER.</p>
      </a>
      <a href="https://tlp-lpa.ca/oer-toolkit/collaborating">
        <img
          height="120px"
          src="https://libapps-ca.s3.amazonaws.com/customers/4393/images/sharingKnowledge.png"
          alt=""
          srcset=""
        />
        <h5>Collaborating</h5>
        <p class="leading">Learn about the what, why, and how of OER.</p>
      </a>
      <a href="https://tlp-lpa.ca/oer-toolkit/advocacy">
        <img
          height="120px"
          src="https://libapps-ca.s3.amazonaws.com/customers/4393/images/supportingIcon.png"
          alt=""
          srcset=""
        />
        <h5>Advocacy</h5>
        <p class="leading">Learn about the what, why, and how of OER.</p>
      </a>
      <a href="https://tlp-lpa.ca/oer-toolkit/sustainability">
        <img
          height="120px"
          src="https://libapps-ca.s3.amazonaws.com/customers/4393/images/sustainabilityIcon.png"
          alt=""
          srcset=""
        />
        <h5>Sustainability</h5>
        <p class="leading">Learn about the what, why, and how of OER.</p>
      </a>
    </div>
  </div>
</div>
