.oer-toolkit {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.oer-toolkit > .title-block {
  border: 1px solid #888;
  padding: 1.5rem;
  padding-bottom: 0.6rem;
  margin-bottom: 1rem;
}

.oer-toolkit-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.oer-toolkit-list > a {
  border: 1px solid #888;
  padding: 1.5rem;
  padding-bottom: 0.6rem;
  text-align: center;
}

.oer-toolkit-list > a h5 {
  padding-top: 0.8rem;
}

.oer-toolkit-list > a p {
  color: #646464;
}

@include media-breakpoint-up(sm) {
  .oer-toolkit-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-breakpoint-up(md) {
  .oer-toolkit-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-breakpoint-up(lg) {
  .oer-toolkit-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
